<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-instagram-share" version="0.2.3">
    <name>Instagram Media Share</name>
    <description>Share images or video content using the Instagram application for iOS and Android.</description>
    <license>Apache 2.0</license>
    <keywords>cordova,device</keywords>
    <js-module src="www/InstagramShare.js" name="InstagramShare">
        <clobbers target="Instagram" />
    </js-module>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <platform name="android">
        <!-- android specific elements -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Instagram">
                <param name="android-package" value="com.samuelcastro.cordova.InstagramSharePlugin" />
            </feature>
        </config-file>

        <source-file src="src/android/InstagramSharePlugin.java" target-dir="src/com/samuelcastro/cordova" />
    </platform>
    
</plugin>
